.navbar {
    display: flex;
    height: 81px;
    align-items: center;
    justify-content: space-between;
    padding: 2px 27px;
    max-width: 100%;
}

.navbarLogo {
    height: 73px;
}

.navbarButton {
    height: 32px;
    background-color: white;
    border: none;
}

.navbarButton>img {
    max-height: 100%;
}

.navbarMenu {
    display: flex;
    gap: 56px;
    align-items: center;
}

.links {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .navbar {
        justify-content: space-around;
        height: 100px;
    }
}